---
import NextJS from "./icons/NextJS.astro";
import PHP from "./icons/PHP.astro";
import CSS from "./icons/CSS.astro";
import HTML from "./icons/HTML.astro";
import MySQL from "./icons/MySQL.astro";
import JavaScript from "./icons/JavaScript.astro";
import Python from "./icons/Python.astro";

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: NextJS,
    },
    PHP: {
        name: "PHP",
        class: "bg-black text-white",
        icon: PHP,
    },
    CSS: {
        name: "CSS",
        class: "bg-black text-white",
        icon: CSS,
    },
    HTML: {
        name: "HTML",
        class: "bg-black text-white",
        icon: HTML,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-black text-white",
        icon: MySQL,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black text-white",
        icon: JavaScript,
    },
    PYTHON: {
        name: "Python",
        class: "bg-black text-white",
        icon: Python,
    },
};

const PROJECTS = [
    {
        title: "Car Management System",
        description:
            "Web system for managing rental cars, from documentation to payments and contract generation connected to the cloud.   ******Contact for preview*****",
        github: "#",
        image: "/projects/Cars.webp",
        tags: [TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT],
    },
    

    {
        title: "SupremoBOT",
        description:
            "Website to view information about SupremoBot, a virtual assistant for Discord servers in charge of managing music, security and customization.",
        link: "https://www.supremito.xyz/",
        github: "https://www.supremito.xyz/",
        image: "/projects/Bot.webp",
        tags: [TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT],
    },
    {
        title: "Management of hotel room reservations",
        description:
            "Web application for the management of hotel room reservations.",
        link: "https://costaensenada.com",
        github: "https://costaensenada.com",
        image: "/projects/hotel.webp",
        tags: [TAGS.PHP, TAGS.CSS, TAGS.HTML, TAGS.MYSQL, TAGS.JAVASCRIPT],
    },
    {
        title: "Dog Breed Prediction Web Application",
        description:
            "This web application uses a Convolutional Neural Network (CNN) implemented in Python to predict the breed of a dog based on an uploaded image.",
        title2: "Contactar para vista previa",
        link: "https://deteccion-de-razas-production.up.railway.app/",
        github: "#",
        image: "/projects/RedNeuronal.webp",
        tags: [TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT, TAGS.PYTHON],
        
    },
];
---
{PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="relative group py-5 px-2">
        <a href={link} target="_blank" rel="noopener noreferrer">
            <div class="overflow-hidden rounded-md relative">
                <img
                    class="w-full h-auto object-cover transition duration-500 ease-in-out transform group-hover:blur-sm"
                    src={image}
                    alt={`Captura de pantalla del proyecto ${title}`}
                    style={{ borderRadius: "35px" }}
                />
                <div class="absolute inset-0 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                    <ul class="flex gap-4">
                        {tags.map((tag) => (
                            <li key={tag.name} class="flex items-center">
                                <tag.icon class="w-8 h-8 text-white" />
                            </li>
                        ))}
                    </ul>
                </div>
            </div>
            <h3 class="text-2xl font-semibold text-pink-700 mt-4">{title}</h3>
            <p class="text-lg text-pretty mb-4">{description}</p>
        </a>
    </article>

))}
